{{ partial "header.html" . }}




{{ $quran := site.Data.quran }}
{{ range $quran }}
{{ if eq .name "الناس" }}
{{ range .aya }}
    {{ $split := split .text " " }}
    {{range $split}}
        
        
        {{ if in . "مَلِ" }}
        
        <span style="color:red">
            
        {{ end }}

          {{.}}</span> 



    {{end}}
    {{end}}
{{end}}
  {{ end }}










<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
